/* src/components/home/Home.css */

/* src/components/home/Home.css */

.home-container {
    padding: 20px;
    max-width: 800px;
    margin: 80px auto 0 auto; /* Adjust top margin to create space for header */
    background-color: #3f3f3f;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.h{
    color: #fff;
}
h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.home-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.search-input {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.search-input:focus {
    border-color: #4a90e2;
    outline: none;
    box-shadow: 0 0 4px rgba(74, 144, 226, 0.2);
}

.create-car-button {
    padding: 10px 20px;
    background-color: #4a90e2;
    color: #3f3f3f;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
   
    transition: background-color 0.3s ease;
}

.create-car-button:hover {
    background-color: #357ab8;
}

.car-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.car-card {
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    text-align: center;
}

.car-card:hover {
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
}

.car-card h3 {
    color: #333;
    font-size: 18px;
    margin-bottom: 8px;
}

.car-card p {
    color: #555;
    font-size: 14px;
}
